.article {
  background-color: rgb(140, 138, 143);
  display: flex;
  flex-direction: column;
  position: relative;
  animation: fadein 2s;
  max-width: 1024px;
  height: 600px;
  margin: auto;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.article-title {
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.article-title-style {
  display: flex;
  justify-content: flex-end;
  font-size: 1.4em;
  font-weight: bold;
  color: white;
  padding: 5%;
}

.article-description {
  background-color: #181818;
  flex: 1;
  max-height: 368px;
}


.article-summary {

}

.article-summary-style {
  font-size: 1.4em;
  color: white;
  padding: 5%;
}

.article-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #1ba6e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .article {

  }
  .article-title {
    flex: 2.5;
  }

  .article-title-style {
    justify-content: flex-start;
  }

  .article-description {
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  .article-summary {
    flex: 3;
  }

  .article-circle {
    flex: 1;
    position: static;
    top:auto;
    left: auto;
    width: auto;
    height: auto;
  }
}
