/*
* Article common parts
*/
.article {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 680px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.article:first-child {
  margin-top: 50px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.article-title {
  text-decoration: none;
  font-size: 1.6em;
  font-weight: bold;
  color: white;
  padding: 5%;
}
.article-title a {
  text-decoration: none;
  color: white;
}

.article-description {
  font-size: 1.4em;
  color: white;
  padding: 5%;
}
.article-description-second {
  display: none;
  font-size: 1.4em;
  color: white;
  padding: 5%;
}

.article-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.article-text {

}

.article-part1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.article-part2 {
  background-position: center;
  background-size: cover;
  background-color: #1aadec;
  opacity: 0.8;
  background-blend-mode: multiply;
  transition: ease 0.5s;
}
.article-part2:hover {
  background-color: transparent;
  opacity: 1;
}
.article-part3 {
  background-color: #181818;
}
.article-part4 {
  background-color: #1ba6e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  /*
  * Layout mobile
  */
  .article-mobile {
    display: flex;
    flex-direction: column;
    height: 580px;
  }
  .article-part1-mobile {
    flex: 1;
  }
  .article-part2-mobile {
    visibility: hidden;
  }
  .article-part3-mobile {
    flex-shrink: 1;
  }
  .article-part4-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 110px;
  }
  .article-description-second {
    display: none !important;
  }
}

@media (min-width: 801px) {
  /*
  * Layout type 1
  */
  .article-type1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .article-part1-type1 {
    flex-basis: 100%;
    height: 70%;
  }
  .article-part2-type1 {
    display: none;
  }
  .article-part3-type1 {
    flex-basis: 70%;
    height: 30%;
  }
  .article-part4-type1 {
    flex-basis: 30%;
    height: 30%;
  }

  /*
  * Layout type 2
  */
  .article-type2 {
    display: flex;
    flex-wrap: wrap;
  }
  .article-part1-type2 {
    order: 2;
    flex-basis: 70%;
    height: 70%;
  }
  .article-part2-type2 {
    order: 1;
    flex-basis: 30%;
    height: 70%;
  }
  .article-part3-type2 {
    order: 4;
    flex-basis: 70%;
    height: 30%;
  }
  .article-part4-type2 {
    order: 3;
    flex-basis: 30%;
    height: 30%;
  }

  /*
  * Layout type 3
  */
  .article-type3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .article-part1-type3 {
    order: 3;
    flex-basis: 100%;
    width: 70%;
  }
  .article-part2-type3 {
    order: 2;
    flex-basis: 65%;
    width: 30%;
  }
  .article-part3-type3 {
    display: none;
  }
  .article-part4-type3 {
    order: 1;
    flex-basis: 35%;
    width: 30%;
  }
}
