@media (max-width: 649px) {

}

@media (min-width: 650px) {
  /*
  * Article common parts
  */
  .article {
    background-color: rgb(205, 241, 232);
    width: 100vw;
    max-width: 1200px;
    height: 600px;
    margin: auto;
    animation: fadein 1s;
  }
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  .article-title {
    opacity: 0.9;
    font-size: 1.4em;
    font-weight: bold;
    color: white;
    padding: 5%;
  }
  .article-description {
    font-size: 1.4em;
    color: white;
    padding: 5%;
  }

  .article-part1 {
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .article-part2 {
    background-color: #1ba6e2;
    opacity: 50%;
  }
  .article-part3 {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .article-part4 {
    background-color: #1ba6e2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*
  * Layout type 1
  */
  .article-layout-type1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .article-part1-layout-type1 {
    flex-basis: 100%;
    height: 70%;
  }
  .article-part2-layout-type1 {
    display: none;
  }
  .article-part3-layout-type1 {
    flex-basis: 70%;
    height: 30%;
  }
  .article-part4-layout-type1 {
    flex-basis: 30%;
    height: 30%;
  }

  /*
  * Layout type 2
  */
  .article-layout-type2 {
    display: flex;
    flex-wrap: wrap;
  }
  .article-part1-layout-type2 {
    order: 2;
    flex-basis: 70%;
    height: 70%;
  }
  .article-part2-layout-type2 {
    order: 1;
    flex-basis: 30%;
    height: 70%;
  }
  .article-part3-layout-type2 {
    order: 4;
    flex-basis: 70%;
    height: 30%;
  }
  .article-part4-layout-type2 {
    order: 3;
    flex-basis: 30%;
    height: 30%;
  }

  /*
  * Layout type 3
  */
  .article-layout-type3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .article-part1-layout-type3 {
    order: 3;
    flex-basis: 70%;
    width: 70%;
  }
  .article-part2-layout-type3 {
    order: 2;
    flex-basis: 70%;
    width: 30%;
  }
  .article-part3-layout-type3 {
    order: 4;
    flex-basis: 30%;
    width: 70%;
  }
  .article-part4-layout-type3 {
    order: 1;
    flex-basis: 30%;
    width: 30%;
  }
}
