/*
* Slide in menu styles.
*/
.drawer {
  position: fixed;
  height: 100vh;
  margin-top: 3.125em;
  max-width: 40vw;
  left: -50vw;
  transition: left 0.3s;
  z-index: 1;
  background-color: #1ba6e2;
  overflow-y: scroll;
}

.section-item {
  padding: 0.3125em 0px 0.3125em 1.25em;
  color: white;
  font-size: 1em;
  background-color: #1ba6e2;
  max-width: 40vw;
  cursor: pointer;
}
.section-item:hover {
  background-color: rgb(49, 122, 246);
}

.drawer-open {
  left: 0;
}
